.mode {
    position: absolute;
    top: 103px;
    right: 422px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}
